header {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  font-family: "M PLUS 1p", sans-serif;
  padding-top: 20px;
}
header > p {
  font-size: 24px;
}

main {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}
.questionNumber {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  background-color: rgb(18, 141, 172);
  border-radius: 50%;
  padding: 10px 20px;
  width: 54px;
  margin: 10px auto;
}

.answerArea {
  display: flex;
  justify-content: center;
}

.result {
  font-size: 30px;
  font-weight: bold;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  background-color: #e2e2e2;
  padding: 20px;
}

.answer {
  font-size: 20px;
  margin-top: 50px;
}
.answer {
  font-size: 20px;
  margin-top: 50px;
}

.answerBold {
  font-weight: bold;
  font-size: 30px;
  background: linear-gradient(transparent 60%, yellow 50%);
}
.answerArea > img {
  margin-right: 10px;
}
/* .radio_input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio_label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all 0.2s;
  border: 1px solid #707070;
}

.radio_label:hover {
  background: #ffc2e4;
}

.radio_input:checked + .radio_label {
  background: #fd489d;
  color: #fff;
}

.radio_input:focus + .radio_label {
  outline-color: #4d90fe;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
} */
#send {
  font-size: 20px;
  padding: 5px 10px;
}
